@charset "utf-8";
/* CSS Document */

<style type="text/css">
<!--
.style1 {font-family: Courier New, Courier, monospace}
-->
</style>
<style type="text/css">
<!--
.style2 {font-size: 14px}
-->
</style>
<style type="text/css">
<!--
.style3 {font-size: 14}
-->
</style>
<style type="text/css">
<!--
.style4 {font-size: 12px}
-->
</style>
<style type="text/css">
<!--
.style5 {font-size: 12}
-->
</style>
<style type="text/css">
<!--
.style7 {font-family: Geneva, Arial, Helvetica, sans-serif}
-->
</style>
<style type="text/css">
<!--
.style8 {font-family: "Arabic Transparent"}
-->
</style>
<style type="text/css">
<!--
.style9 {font-size: 16px}
body {
	margin: 0;
	padding: 0;
	background-color: #008080 ;
	
	color: #000000;
	font-family: Simplified (Arabic), Helvetica, sans-serif;
	direction: rtl;
} 
p, td, dt, li, blockquote, caption {
	font-size: 16px;
	font-family: Simplified (Arabic), Helvetica, sans-serif;
}
caption {
	text-align: left;
	font-weight: bold;
	padding: 0 0 0 1em;
	font-size: 0.7em;
}
ul li {
	list-style-type: circle;
}
a:link, a:visited {
	color: #333366;
	text-decoration: underline;
}
a:hover {
    color: #666699;
    text-decoration: underline;
}
a img {
	border: none;
}


/* Container
-----------------------------------------------------------------*/
#container {
	width: 90%;
	min-width: 640px;
	margin: 10px 20px 10px auto;
	border: solid #000033;
	border-width: 1px 3px 2px 1px;
	background-color: #AEE1DA;
	
}

/* Header
-----------------------------------------------------------------*/
#header {
	width: auto;
	margin: 0;
	padding: 8px 10px;
}
#header #logo {
	display: inline;
	float: right;
	margin: 0;
	padding: 0.8em 0.4em;
	background-color:  #80B0BB;
	border: solid #000033 1px;
	text-align: center;
}
#header #title {
	margin: 0 100px 0 0;
	padding: 0 2em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
}
#header #title h1 {
	margin: 0;
	padding: 0;
	color: #fff1f3;
	font-size: 1.5em;
	letter-spacing: 0.1em;
}
#header #title h2 {
	margin: 0;
	padding: 0;
	font-size: 1em;
}
#header #title h3 {
	margin: 0;
	padding: 0 3em 0 0;
	color: #666666;
	font-size: 0.9em;
	letter-spacing: 0.1em;
}	
#header #title h1 a {
	color: #666699;
	text-decoration: none;	
}
#header #title h3 a {
	color: #666666;
	text-decoration: none;	
} 
#subheader {
	width: auto;
	margin: 0;
	padding: 0 1em;
	border-style:  solid;
	border-color: #009993;
	border-width: 3px 0 ;
	background-color: #3DABB4;
	text-align:  center;
	color: #FFFFFF;
	font-size: 1em;
	

}
#subheader a {
	color: #FFF;
    text-decoration:  none;
}

/* Main
-----------------------------------------------------------------*/
#main {
	clear: both;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	background-color:  #CFE2EB;
	overflow: hidden;
}

/* Menu
-----------------------------------------------------------------*/
#menu {
	display: inline;
	float: right;
	width: 10em;
	margin: 1em 0 0 0;
	padding: 0;
}
#menu h5 {
	width: auto;
	margin: 0;
	padding: 0;
	border-top: solid 1px #999999;
	background-color:  #3685A3;
	color: #FFFFFF;
	font-size: 1.5em;
	font-weight: bold;	
}
#menu h5 a {
	display: block;
	padding: 0.4em;
	margin: 0;
	width: auto;
	color: #FFFFFF;
	text-decoration: none;
}
#menu h5 a:hover {
	background-color: #  #DFDD99;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: solid 1px #000033;
}
#menu ul li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 1em;
	list-style: none;
}
#menu li a {
	display: block;
	width: auto;
	margin: 0;
	padding: 0.3em 0.5em;
	background-color: #FFFFFF;
	border-left: solid 6px #CCCCCC;
	border-top: solid 1px #FFFFFF;
	border-bottom: solid 1px #999999;
	text-decoration: none;
	letter-spacing: normal;
	line-height: normal;
	color: #000000;
	
}
#menu li a:hover {
	background-color: # FCC;
	border-left: solid 10px #F00;
	border-right: 0;
	text-decoration: none;
}
#menu #sponsors {
	padding: 10px;
	font-size: 0.8em;
	text-align: center;
	color: #333366;
}
.menuShow { display: block; }
.menuHidden { display: none; }
.menuOn { border-right: solid 2px #333366; font-weight: bold; }


/* Content
-----------------------------------------------------------------*/
#content {
	width: auto;
	min-height: 40em;	
	margin: 0 10em 0 0;
	padding: 1em 1em;
	background-color:  #D8EBEB;
	border-right: solid 1px #999999;
	overflow: visible;
}
#breadcrumbs {
	width: auto;
	margin: 0 0 1.4em 0;
	padding: 0.4em 1em;
	border: solid #999999 2px;
	background-color: #9CC;
	font-size: 1em;
}
#content h1 {
	margin: 1em 0;
	font-size: 1.5em;
	color: #333366;
	font-weight: normal;
	border-bottom: 1px solid #999999;
}
#content h2 {
	font-size: 0.9em;
	font-weight: bold;
	color: #666699;
	border-bottom: 1px solid #999999;
}
#content h3 {
    font-size: 0.9em;
    font-weight: bold;
}
#content h4 {
    font-size: 0.8em;
	font-weight: bold;	
    color: #990000;
}
#content li {
	line-height: 1.6em;
}
#content #pics {
	display: inline;
	width: auto;
	float: left;
	margin: -1.6em 1em 1em 0;
	padding: 0;
	white-space: nowrap;
}
#content #pics img {
	display: inline;
	padding: 6px;
	margin: 0 0.4em;
	border: solid 1px #999999;
	background-color: #FFFFFF;
}

/* Footer
-----------------------------------------------------------------*/
#footer {
	clear: both;
	width: auto;
	margin: 0;
	padding: 0.8em;
	border-style:  solid;
	border-color: #000033;
	border-width: 1px 0;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 0.7em;
	line-height: 1.5em;
}
#footer a {
	color: #002A6C;
}


/* Classes
-----------------------------------------------------------------*/
.imgBorder {
    border: 1px solid #000000;
}
.imgL {
    float: left;
    margin: 10px 20px 10px 0;
}
.imgR {
    float: right;
    margin: 10px 0 10px 20px;
}

.frame {
	width: 60%;
	margin: 0;
	border: solid 1px #999999;
	height: 20em;
}
.clearRight {
	clear: right;
}
.clearLeft {
	clear: left;
}
.highlight {
	color: #990000;
	font-weight: bold;
	font-size: 0.7em;
	margin: 0 0 -1.1em 0;
	padding: 0;
}
.blueHighlight {
	color: #666699;
}
-->
</style>

<link rel="stylesheet" href="../END PROJCT/index_files/mophp_style.css" 
type="text/css" media="all">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
<!--
.style1 {font-family: "Courier New", Courier, monospace}
.style2 {
	font-weight: bold;
	font-family: "Arabic Transparent";
}
.style5 {font-family: "Arabic Transparent"; color: #0000FF; }
.style21 {font-size: 14px}
.style21 {	font-weight: bold;
	font-family: "Arabic Transparent";
}
-->
</style>